@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 11% 15%;
    --foreground: 210 40% 98%;
    --card: 220 11% 19%;
    --card-foreground: 210 40% 98%;
    --popover: 220 11% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 45% 49%;
    --primary-foreground: 175 45% 98%;
    --secondary: 210 40% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 25%;
    --muted-foreground: 210 40% 65%;
    --accent: 203 76% 66%;
    --accent-foreground: 220 11% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 20%;
    --input: 210 40% 20%;
    --ring: 203 76% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 11% 15%;
    --foreground: 210 40% 98%;
    --card: 220 11% 19%;
    --card-foreground: 210 40% 98%;
    --popover: 220 11% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 45% 49%;
    --primary-foreground: 175 45% 98%;
    --secondary: 210 40% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 25%;
    --muted-foreground: 210 40% 65%;
    --accent: 203 76% 66%;
    --accent-foreground: 220 11% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 20%;
    --input: 210 40% 20%;
    --ring: 203 76% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
